[submodule "vim/dot-vim/pack/default/start/vim-airline"]
	path = vim/dot-vim/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/dot-vim/pack/default/start/base16-vim"]
	path = vim/dot-vim/pack/default/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/dot-vim/pack/default/start/bufexplorer"]
	path = vim/dot-vim/pack/default/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
